html
  head
    title
      = htmlWebpackPlugin.options.title
    base(href='.')
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    - for (var i = 0, k = htmlWebpackPlugin.files.css.length; i < k; i++)
      link(rel='stylesheet' href='#{htmlWebpackPlugin.files.css[i]}')

  body
    app
     h1 Loading Application

    - for (var i = 0, k = htmlWebpackPlugin.files.js.length; i < k ; i++)
      - var currentFile = htmlWebpackPlugin.files.js[i]

      - if (/common/.test(currentFile))
        script(src='#{currentFile}' async)
      - else
        script(src='#{currentFile}')
