h1 Welcome to {{greeting}}

button.btn--default('(click)'='modalService.open()')
  | Open Modal

tabs
  tab(title='Hello World')
    span Tab 1

  tab(title='Hello World #2')
    span Tab 2

  tab(title='Hello World #3')
    span Tab 3

modal(title='Hello Modal')
  h1 This Is A modal

.svg--small
  != require('svg/up.svg')

.svg--medium
  != require('svg/down.svg')

.svg--large
  != require('svg/left.svg')
